/* Error: Undefined mixin.
 *    ,
 * 17 | / @include mobile-xs {
 * 18 | |     .student-message {
 * 19 | |         .student-message-text {
 * 20 | |             p {
 * 21 | |                 font-size: 1rem;
 * 22 | |             }
 * 23 | |         }
 * 24 | |     }
 * 25 | \ }
 *    '
 *   assets/sass/pages/end-competion.scss 17:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 17 \2502  \250c  @include mobile-xs {\a 18 \2502  \2502      .student-message {\a 19 \2502  \2502          .student-message-text {\a 20 \2502  \2502              p {\a 21 \2502  \2502                  font-size: 1rem;\a 22 \2502  \2502              }\a 23 \2502  \2502          }\a 24 \2502  \2502      }\a 25 \2502  \2514  }\a    \2575 \a   assets/sass/pages/end-competion.scss 17:1  root stylesheet";
}
