.uniquely {
  &__content {
    height: 97%;
    border-radius: 0.5rem;
    overflow: hidden;
  }
  &__items {
    .item {
      display: flex;
      justify-content: center;
      align-items: center;
      justify-content: flex-end;
      flex-direction: column;
      border: 1px solid #b9b9b9;
      border-radius: 10px;
      min-height: 280px;
      img {
        width: 130px;
        margin-bottom: 2rem;
      }
    }
  }
}

.uniquely {
  &__content {
    background: url("/assets/images/home/uniqley.png") no-repeat center center;
    background-size: contain;
  }
  &__items {
    .item {
      color: #707070;
      p {
        font-size: 1.5rem;
        font-weight: bold;
      }
      figcaption {
        margin-bottom: 1rem;
        font-size: 1rem;
        color: #707070;
      }
    }
  }
  .accordion-item .accordion-button.collapsed {
    font-weight: normal;
  }
}

// repeat-questions
.repeat-questions {
  &__accordion {
    .accordion-button::after {
      background-image: url("/assets/images/home/open.svg") !important;
    }
    .accordion-button:not(.collapsed)::after {
      background-image: url("/assets/images/home/close.svg") !important;
    }

    .accordion-button:not(.collapsed) {
      box-shadow: none;
    }
    .accordion-button:not(.collapsed),
    .accordion-button {
      color: #313131;
      background-color: transparent;
      font-size: 1rem;
      font-weight: bold;
    }
    .accordion-button:not(.collapsed).parent,
    .accordion-button.parent {
      color: #5b5b5b;
      font-weight: bold;
      font-size: 1.25rem;
    }
    .accordion-body {
      color: #313131;
    }
  }
}

@include to-tablet-sm {
  // uniqley, why-we
  .why-we__items .item img,
  .uniquely__items .item img {
    width: 100px;
  }
  // repeated questions
  .repeat-questions__accordion .accordion-button:not(.collapsed),
  .repeat-questions__accordion .accordion-button {
    font-size: 1rem;
  }
}

.repeat-questions__accordion {
  .accordion-button {
      &::after {
          background-image: url('../images/custom/down.png') !important;
      }
  }
}
.repeat-questions__accordion {
  .accordion-button:not(.collapsed) {
    &::after {
      // transform: rotate(0);
      background-image: url('../images/custom/down.png') !important;

      // background-image: url('../images/custom/up.png') !important;

    }
  }
}