.teachers-body {
  background-color: #ffebee;
}

#teachers {
  font-family: cairo;
}
#teachers .teacher-inner {
  display: block;
  font-size: 1rem;
  color: #868b8e;
  background-color: #fff;
  max-width: 262px;
  border-radius: 4px;
  margin-bottom: 30px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  border: 1px solid #cddeff;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
}
#teachers .teacher-inner h5 {
  font-size: 1rem;
  padding-top: 1rem;
  margin: 0;
  color: #707070;
  font-weight: bold;
  text-align: start;
  padding-inline-start: 1rem;
}
#teachers .teacher-inner h5 .fa-heart {
  color: red;
  font-size: 1.2rem;
  padding-inline: 1rem;
  cursor: pointer;
}
#teachers .teacher-inner .filter-text {
  margin: 0 !important;
  padding: 0.5rem 0;
  text-align: start;
  padding-inline-start: 0.5rem;
  font-size: 1rem;
}
#teachers .teacher-inner .filter-text ._icon {
  color: #03a9f4;
  padding-inline: 0.5rem;
}
#teachers .teacher-inner .teach-icons {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  padding: 5px 10px;
}
#teachers .teacher-inner .teach-icons a {
  color: #2eb086;
  padding-top: 1rem;
  padding-inline: 2rem;
}
#teachers img {
  width: 100%;
  padding: 20px 10px;
}
#teachers .teacher-inner:hover {
  transition: all 0.2s ease-out;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  top: -4px;
  border: 1px solid gray;
  background-color: white;
}

#filters form .form-group .filter-subject {
  margin-bottom: 2.5rem;
}

div.search-box {
  position: relative;
  width: 100%;
  padding: 0;
}
div.search-box img {
  position: absolute;
  left: 1.5rem;
  top: 49%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 20px;
}

.search {
  display: flex;
  align-items: center;
}
.search__title {
  font-size: 22px;
  font-weight: 900;
  text-align: center;
  color: #ff8b88;
}
.search__input {
  background: transparent;
  font-size: 2rem;
  width: 100%;
  padding: 12px 24px;
  border: none !important;
  border-radius: 0;
  border-bottom: 1px solid #575756 !important;
  background-color: transparent;
  transition: all 250ms ease-in-out;
  font-size: 14px;
  line-height: 18px;
  color: #03a9f4;
}
.search__input:hover, .search__input:active, .search__input:focus {
  outline: none;
  box-shadow: none;
}
.search__input::placeholder {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1rem;
  color: #03a9f4;
  font-weight: bold;
}
.search__input:hover, .search__input:focus {
  padding: 12px 0;
  outline: 0;
  border: 1px solid transparent;
  border-radius: 0;
  background: transparent;
}

.filter {
  width: 95%;
  margin-bottom: 1rem;
  border: none;
  height: 3rem;
  font-size: 1.1rem;
  color: #707070;
  font-weight: bold;
  background: transparent;
}

.filter-sec {
  display: none;
}

.radio-select {
  margin: 1rem 0;
}
.radio-select .radio-label {
  padding: 0.2rem 0;
  color: #707070;
  font-weight: bold;
}

@media (min-width: 320px) and (max-width: 567px) {
  .teacher-inner {
    width: 80%;
    margin: 0 auto 20px auto;
  }

  ._icon {
    padding-inline-start: 0.5rem;
  }

  .search__container {
    margin: 1rem 0;
  }

  .filter-sec {
    display: block;
    font-size: 1.25rem;
    color: #03a9f4;
    font-weight: bold;
  }

  .hidden {
    transform: scale(0.5);
    display: none;
  }

  div.search-box {
    position: relative;
    width: 100%;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .teacher-inner {
    margin-bottom: 10px !important;
  }

  ._icon {
    padding-inline-start: 0.5rem;
  }

  .search__container {
    margin: 1rem 0;
  }

  .filter-sec {
    display: block;
    font-size: 1.25rem;
    color: #03a9f4;
    font-weight: bold;
  }

  .hidden {
    transform: scale(0.5);
    display: none;
  }
}
.horizontal-row {
  --bs-gutter-x: 0;
}

@media (min-width: 768px) and (max-width: 991px) {
  .teacher-inner {
    margin: 5px !important;
  }

  .filter-icon {
    width: 100%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .teacher-inner {
    margin: 5px !important;
  }

  .filter-icon {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .teacher-inner {
    margin-bottom: 50px !important;
  }
  .teacher-inner h5 {
    font-size: 1.1rem;
  }
  .teacher-inner .filter-text {
    font-size: 1rem;
  }

  .filter {
    width: 95%;
  }

  .filter-icon {
    width: 100%;
  }
}
/* Custom */
#teachers .teacher-inner .teach-icons .t-ic {
  color: #2eb086;
  padding-top: 1rem;
  padding-inline: 2rem;
}

.h_sidebar {
  position: fixed;
  overflow: auto;
  height: calc(100% - 0px);
  padding-bottom: 154px;
}

.h_subsidebar #filter .choose-label {
  color: #03a9f4;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}
.h_subsidebar #filter select {
  width: 100%;
  margin-bottom: 1rem;
  border: none;
  height: 2rem;
  font-size: 14px;
  color: #707070;
  font-weight: bold;
  background-color: #fff;
  border-radius: 2px;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .h_subsidebar {
    font-size: 14px;
  }
  .h_subsidebar #filter select {
    width: 95%;
    margin-bottom: 1rem;
    border: none;
    height: 2rem;
    font-size: 14px;
    color: #707070;
    font-weight: bold;
    background-color: #fff;
    border-radius: 2px;
  }
  .h_subsidebar #filter .choose-label {
    font-size: 14px;
  }
}
.teacher-profile-right2:before {
  background-color: transparent !important;
}

.f-12 {
  font-size: 12px;
}

.f-10 {
  font-size: 12px;
}

.dd-ff.dropdown-toggle::after {
  display: none;
}

.btn-check:focus + .btn, .btn:focus {
  box-shadow: none !important;
}

@media (max-width: 991.98px) {
  .h_sidebar {
    position: relative;
    overflow: auto;
    height: calc(100% - 0px);
    padding-bottom: 0;
  }

  .filter-sec {
    padding-bottom: 0 !important;
  }

  #teachers {
    margin-top: 0 !important;
  }
  #teachers .teacher-inner {
    margin: auto;
  }

  .teacher {
    margin-bottom: 15px;
  }
}
.teacher-inner img {
  width: 100%;
  padding: 20px 10px;
  height: 200px;
}

.search-filter-btn {
  background: #2eb086 !important;
  color: #fff !important;
  width: 100%;
  padding: 7px;
  border: 0;
  border-radius: 3px;
  width: 95%;
  transition: 0.2s all ease-in-out;
}
.search-filter-btn:hover {
  background: #4bd3a8 !important;
  color: #fff !important;
}

.h_sidebar .selectize-dropdown {
  position: absolute !important;
  top: 100% !important;
  left: 0 !important;
  width: 100% !important;
  z-index: 10 !important;
  border: 1px solid #d0d0d0 !important;
  background: #fff !important;
  margin: -1px 0 0 0 !important;
  border-top: 0 none !important;
  box-sizing: border-box !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) !important;
  border-radius: 0 0 3px 3px !important;
  height: auto !important;
}

.h_sidebar .selectize-input {
  overflow: auto;
  max-height: 4rem;
  border: 1px solid #ddd;
}

.user-drop.dropdown-toggle::after {
  display: none;
}

.down-prof {
  margin: 0 5px 1px;
  width: 94%;
  background-color: #ecf3f9;
  font-size: 14px;
  padding: 5px;
  text-align: center;
}

/*# sourceMappingURL=teachers-filter.css.map */
